* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: sans-serif;
}

.container {
  width: 100%;
  margin: auto;
  position: relative;
}

.hero-img-1 {
  background-image: url("../images/hero-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.logo {
  margin-top: 10px;
}

.navbar {
  height: 50px;
  width: 100%;
  position: fixed;
  opacity: 0.9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar > .navbar-logo {
  display: inline-block;
  margin-top: 10px;
}

.navbar > .navbar-btn {
  display: none;
}

.navbar > .navbar-links {
  display: flex;
  float: right;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 50px;
  gap: 10%;
}

.nav-link-1 {
  color: #fff;
  text-decoration: none;
}

.navbar > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
}

.nav-link-1 {
  color: #fff;
}

.navbar > .nav-links > a:hover {
  background-color: #7a7a7e;
}

.navbar > #nav-check {
  display: none;
}

.btn {
  position: relative;
  color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.btn:focus,
.btn:hover {
  color: #fff;
}

.btn:focus::after,
.btn:hover::after {
  width: 100%;
  left: 0%;
}

.btn::after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 47px;
  line-height: 0.9;
}

.hero-text-big {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 305px;
}

.hero-text-1 {
  color: #5d5d5d;
}

.hero-text-2 {
  color: #474f74;
}

.section-1 {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
}

#section-text-1 {
  color: #5b5959;
}

#section-text-2 {
  color: #101a46;
}

.logo-section {
  display: flex;
  flex-direction: row;
}

.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nav-link-2 a {
  color: #5d5d5d;
}

.hero-img-2 {
  background-image: url("../images/hero-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.hero-header {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 50%;
  margin: auto;
}

.hero-header-2 {
  font-size: 5em;
  line-height: 1;
}

.num {
  color: #7a7a7a;
}

.hero-header-element {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  bottom: 19px;
  color: #1b2348;
}

.small-box {
  width: 30%;
  background-color: #7a7a7a;
  color: #7a7a7a;
}

.hero-2-text-2 {
  max-width: 50%;
  margin: auto;
}

.blue-overlay {
  position: relative;
  top: 210px;
  height: 35%;
  background-color: #474f74;
  opacity: 0.8;
}

.slider-wrapper {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin: auto;
}

.flex-pos {
  display: flex;
  align-items: center;
}

.slider-item {
  height: 200px;
}

.radio-btns {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.radio-btn {
  margin: 0 5px;
}

.slider-item.active {
  border: 2px solid #101a46;
  padding: 10px;
}

.section-2 {
  margin-top: 30px;
  height: 30%;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.section-2-header {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.small-box-2 {
  width: 35%;
  background-color: #7a7a7a;
  color: #7a7a7a;
}

.section-2-text {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.hero-3-nav {
  background-color: #101a46;
  padding: 10px;
}

li {
  list-style: none;
}

.hero-3-link {
  width: 50%;
  margin: auto;
  display: flex;
  gap: 13%;
}

.hero-3-link a {
  color: #7a7a7e;
  text-decoration: none;
}

.hero-3-link a:hover {
  color: #1b2348;
  background-color: #7a7a7e;
  padding: 10px;
}

.hero-img-3 {
  background-image: url("../images/hero-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.hero-3-items {
  display: flex;
  flex-direction: column;
  max-width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.hero-3-card {
  background-color: #fff;
  opacity: 0.7;
  max-width: 55%;
  padding: 8px;
  margin-top: 25%;
}

#table-header {
  margin-left: 7px;
}

.table {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 10px;
  background-color: #fff;
  margin: 0;
}

.space {
  margin-top: 10px;
}

footer {
  background-color: #101a46;
  padding: 10px;
}

.footer-content {
  display: flex;
  mix-blend-mode: soft-light;
  color: #fff;
  align-items: center;
  gap: 15%;
  font-size: 14px;
}

.footer-logo {
  margin-left: auto;
}

.footer-text {
  margin-right: auto;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .navbar-logo {
    margin-left: 6px;
  }

  .navbar > .navbar-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .navbar > .navbar-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  #nav-check {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .navbar > .navbar-btn > label:hover,
  .navbar #nav-check:checked ~ .navbar-btn > label {
    background-color: transparent;
  }

  .navbar > .navbar-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .navbar > .navbar-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #101a46;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .navbar > .navbar-links > a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 10px 10px 0px;
  }

  .navbar > #nav-check:not(:checked) ~ .navbar-links {
    height: 0px;
  }

  .navbar > #nav-check:checked ~ .navbar-links {
    height: calc(18vh - 50px);
    overflow-y: auto;
  }

  .hero-img-1 .hero-img-2 {
    height: 50vh;
  }

  .hero-text {
    font-size: 15px;
  }

  .hero-text-big {
    margin-top: 55px;
  }

  .logo-section {
    font-size: 14px;
  }

  .logo-2 {
    width: 24%;
  }

  .navigation {
    display: none;
  }

  .hero-header-2 {
    font-size: 3em;
  }

  .hero-header-element {
    position: relative;
    bottom: 11px;
  }

  .hero-2-text-2 {
    max-width: 69%;
    margin: auto;
  }

  .blue-overlay {
    position: relative;
    top: 253px;
    height: 15%;
  }

  .small-img {
    width: 22vw;
  }

  .flex-pos {
    display: flex;
    align-items: center;
    margin-top: -57px;
  }

  .slider-item.active {
    border: 2px solid #101a46;
    height: 10%;
    margin-top: 3%;
  }

  .radio-btns {
    margin-top: -60px;
  }

  .section-2 {
    margin-top: 50px;
    width: 88%;
    margin-bottom: 20px;
  }

  .hero-header-element {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: 25px;
  }

  .hero-3-link {
    width: 80%;
    margin: auto;
  }

  .hero-3-items {
    max-width: 75%;
  }

  .hero-3-card {
    max-width: 100%;
    margin-top: 35%;
  }

  .hero-img-3 {
    height: 60vh;
  }

  .footer-content {
    font-size: 14px;
  }

  .footer-logo-text {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .hero-img-1 {
    height: 40vh;
  }
}
